.form {
    height: 100vh;
}

.form1{
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
}

.form h3{
    color:rgb(75, 75, 168) ;
}

.form button{
    background-color: rgb(75, 75, 168);
    color: white;
}